*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Raleway', sans-serif;
}

body{
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-image:url(http://bit.ly/2gPLxZ4);
	width: 100%;
	height: 100%; 
	justify-content: center;
	text-align: center;
}

.parallax1{
	color: whitesmoke;
	position: relative;
	justify-content: left;
}

/*NAVBAR*/
.navigation{
  	padding: 0; 
  	list-style: none; 
  	display: table;
  	width: 600px;
  	text-align: right;
  	justify-content: center;
}

.navigation a{
	font: bold 20px/1.4 'Open Sans', arial, sans-serif;
	display: table-cell; 
  	position: relative;
  	text-align: center;
  	justify-content: center;
  	left: 350px;
  	text-decoration: none;
  	text-transform: uppercase;
  	color: #fff;
}

.navigation a:after{
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #fff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.navigation a:hover:after{
	width: 100%;
	left: 0;
}
/*NAVBAR*/

.landing-page{
	position: absolute;
	/*display: inline-flex;*/
	left: 20%;
	top: 100px;
}

.landing-page h2{
	position: relative;
	left: 50px;
	font-size: 50px;
	color: #fff;
}

.landing-page img{
	position: relative;
	right: 200px;
	border: 2px solid black;
	border-radius: 15px;
}

.container2{
	color: whitesmoke;
}
.container3{
	color: whitesmoke;
}

.about-text{
	position: relative;
	top: 500px;
	left: 350px;
	text-align: left;
	justify-content: center;
}

.socmed{
	justify-content: center;
	display: table-row; 
  	position: center;
	margin-top: 20px;
	margin-left: 20px;
}

.socmed li{
	display: table-cell; 
	padding-right: 20px;
	top: 15px;
	font-size: 25px;
}

.socmed .icon{
	width: 50px;
	line-height: 40px;
	text-align: center;
	font-size: 25px;
	color: whitesmoke;
	display: table-row;
}

.skills{
	padding-top: 50px; 
}

.skills h2{
	font-size: 30px;
}
.block{
	display: table-cell;
	padding: 10px;
	top: 50px;
	width: 20%
}

.block .icon{
	font-size: 25px;
	right: 30px;
}

.container3{
	justify-content: center;
	text-align: center;
	font-size: 30px;
}

.portfolio{
	font-size: 20px;
	padding: 0; 
  	list-style: none; 
  	display: table;
  	width: 600px;
  	padding-top: 200px;
  	padding-left: 350px;
}

.portfolio a{
	font-weight: bold;
	font-size: 15px;
	padding: 50px; 
	display: table-cell; 
  	position: relative;
  	top: 40px;
  	right: 150px;
  	text-decoration: none;
  	text-transform: uppercase;
  	color: whitesmoke;
}

.portfolio a:hover:after{
	width: 100%;
	left: 0;
	right: 0;
}

.portfolio a:after{
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 0.5px;
	left: 50%;
	right: 50%;
	position: absolute;
	background: #fff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

/*CONTACT ME*/

.contactdiv{
	display: flex;
	color: whitesmoke;
	justify-content: center;
	text-align: left;
	position: relative;
	right: 150px;
	bottom: 100px;
	font-size: 20px;
}

.contact-text{
	position: relative;
	top: 50px;
	right: 100px;
}

.contact-text p{
	padding: 2px;
	word-spacing: 5px;
}

.mycontact {
	position: relative;
	left: 100px;
}

.contact-text{
	position: relative;
	right: 30px;
	margin: 10px;
}

.container{
  	position: relative;
  	width: 50%;
  	padding: 1em;
  	margin: auto;
}

.container h2{
  	text-align: center;
 	text-transform: uppercase;
 	color: whitesmoke;
}

#contact input[type="text"],#contact input[type="email"], #contact textarea{
	display: block;
	padding: 10px;
	margin: 10px auto;
	width: 100%;
	font-size: 18px;
	color: #777;
	border: 1px solid #ccc;
}

#contact .send-button{
	text-align: center;
}

/*Responsiveness*/

/*ipad*/

@media only screen and (max-width: 780px){
	.navigation{
		position: relative;
		right: 200px;
	}

	.about-text h2{
		position: relative;
		right: 200px;
	}

	.about-text p{
		position: relative;

		right: 200px;
	}

	.icon{
		position: relative;
		right: 500px;
	}

	.skills i{
		position: relative;
		right: 100px;
	}

	.portfolio{
		position: relative;
		right: 200px;
	}

	.mycontact{
		position: relative;
		left: 200px;
	}

	.contact-text{
		position: relative;
		left: 75px;
	}
}

/*mobile-view*/

